@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == bp-smallest {
    @media only screen and (max-width: $bp-smallest) {
      @content;
    } // 500px
  }
  @if $breakpoint == bp-small {
    @media only screen and (max-width: $bp-small) {
      @content;
    } // 600px
  }
  @if $breakpoint == bp-medium {
    @media only screen and (max-width: $bp-medium) {
      @content;
    } // 900px
  }
  @if $breakpoint == bp-large {
    @media only screen and (max-width: $bp-large) {
      @content;
    } // 1100px
  }
  @if $breakpoint == bp-largest {
    @media only screen and (min-width: $bp-largest) {
      @content;
    } // 1200px
  }
}
