// GO TO ./abstracts/_variables.scss FOR CONFIGURATION

.l-about {
  padding: var(--distance-top-bottom) var(--distance-left-right);

  @include respond(bp-small) {
    padding: 0;
    padding: var(--distance-top-bottom) 0;
  }

  &__video-container {
    display: flex;
    align-items: center;
    margin: 0 auto;

    @include respond(bp-large) {
      flex-direction: column;
      text-align: center;
    }
    @include respond(bp-small) {
      display: block;
    }
  }

  &__text {
    flex: 0 1 0;

    @include respond(bp-small) {
      text-align: center;
    }
  }
  &__video {
    flex: 1;
    // max-width: 640px;
    // height: 480px;

    // background-color: var(--color-highlight);
    margin-left: var(--distance-min-left-right);
    border-radius: var(--border-radius);

    @include respond(bp-large) {
      margin: 0;
    }
    @include respond(bp-small) {
      flex: 0 0 25rem;
      margin-top: var(--distance-min-top-bottom);
    }

    & video {
      height: auto;
      width: 100%;
      border-radius: var(--border-radius);
      box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.25);

      @include respond(bp-small) {
        border-radius: 0;
      }
    }
  }

  & p {
    margin-top: var(--distance-min-top-bottom);
    padding: 0 var(--distance-min-left-right);
  }
}
