.c-project {
  margin-top: var(--distance-min-top-bottom);
  padding: 0 0;
  text-align: left;

  &__img {
    width: 100%;
    border-radius: var(--border-radius);
  }

  &__text {
    margin-top: var(--distance-min-top-bottom);
  }

  &__link {
    display: block;
    text-align: right;
    margin-top: var(--distance-min-top-bottom);
  }
}
