.c-skills {
  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.25);
    color: var(--color-primary);
    padding: var(--distance-left-right);
    text-align: center;

    &--left {
      background-color: var(--color-secondary);
      border-radius: var(--border-radius) 0 0 var(--border-radius);
      @include respond(bp-medium) {
        border-radius: 0;
      }
    }
    &--right {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      color: var(--color-secondary);

      @include respond(bp-medium) {
        border-radius: 0;
      }

      & div {
        font-size: 3rem;
      }
    }
  }
}
