@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Skranji:wght@400;700&display=swap");

body {
  // TEXT
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
}

h1,
h2 {
  // TEXT
  font-family: var(--font-family-primary);
  line-height: 1;
  white-space: nowrap;
  // MEDIA QUERY
  @include respond(bp-medium) {
    white-space: initial;
  }
}

h1 {
  // TEXT
  font-size: var(--font-size-heading-large);
  font-weight: 900;
  letter-spacing: -0.3rem;
}

h3 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 27px;

  /* identical to box height */

  text-align: center;
  letter-spacing: -0.03em;
}

h2 {
  // TEXT
  font-size: var(--font-size-heading-small);
  font-weight: 500;
  letter-spacing: -0.1rem;
}

.underline {
  font-size: 4.8rem;
  line-height: 4.5rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  position: relative;
  z-index: 2;
  white-space: nowrap;

  &--primary {
    color: var(--color-primary);

    &::before {
      background-color: var(--color-teritery);
    }
  }
  &--secondary {
    color: var(--color-secondary);

    &::before {
      background-color: var(--color-highlight);
    }
  }
  &--highlight {
    color: var(--color-highlight);

    &::before {
      background-color: var(--color-primary);
    }
  }
  &--teritery {
    color: var(--color-secondary);

    &::before {
      background-color: var(--color-primary);
    }
  }

  &::before {
    position: absolute;
    content: "";
    bottom: -0.25rem;
    left: 0;
    width: 103%;
    height: 45%;
    z-index: -1;
  }
}

p,
blockquote {
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: 1.5;
  font-weight: var(--font-weight-medium);

  @include respond(bp-medium) {
    text-align: center;
    line-height: 1.5;
    font-weight: var(--font-weight-thin);
  }
  @include respond(bp-small) {
    text-align: center;
    font-size: var(--font-size-paragraph-small);
    line-height: 1.5;
    font-weight: var(--font-weight-skinny);
  }
}

blockquote {
  font-style: italic;
  font-weight: 300;

  @include respond(bp-small) {
    font-weight: 200;
  }
}

button {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 600;
}

.t-fat-text {
  // TEXT
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-highlight);
  font-weight: 700;
  line-height: 0.9;
  @include respond(bp-small) {
    font-size: calc(var(--font-size-highlight) / 1.5);
    line-height: 0.8;
  }

  &--primary {
    // TEXT
    color: var(--color-primary);
    @include respond(bp-medium) {
      font-size: calc(var(--font-size-highlight) * 1.5);
      line-height: 0.8;
    }
  }
  &--highlight {
    // TEXT
    color: var(--color-highlight);
    @include respond(bp-medium) {
    }
  }
}
